.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0.7;
    background-color:black;
    font-size: 20px;
  color:white;
  text-align: center;
  }
  #meni {
    grid-area: header;
  }
  #sredina {
    grid-area: article;
  }
  #mainNav {
    grid-area: nav;
    float: left;
  }
  .main-nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    list-style: none;
  }
  .main-nav ul li {
    float: right;
    padding: 10px;
  }
  .main-nav ul li a {
    padding: 20px;
    color: white;
    text-decoration: none;
  }
  .main-nav ul li a:hover {
    background-color: #111;
  }
body{
    display: grid;
    grid-template-areas: "header header header" "nav article ads" "footer footer footer";
    grid-template-rows: 80px 1fr 70px;
    grid-template-columns: 25% 1fr 25%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    height: 100vh;
    margin: 0;
    overflow-y: hidden;
}
.row{
  grid-area: article;
  text-align: center;
  margin: auto;
  background-color: rgb(154, 208, 241);
  border-radius: 25px;
  max-width: 80%;
  opacity: 0.8;
  color: rgb(37, 37, 145);
  padding: 5px;
}
.row ul{
  list-style: none;
}
.row:hover{
  border: rgb(14, 14, 167);
}
.izlaz{
  background-color: rgb(100, 100, 207);
  color: white;
  max-width: 30px;
  border-radius: 5px;
  border: rgb(37, 37, 145);
  
}

#min{
 margin-right: auto;
 float: right;
 font-size: 14px;
}
@media screen and (max-width: 500px) {
  .row{
    width: 500px;
  }
}