html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
    display: grid;
    grid-template-areas: "header header header" "nav article ads" "footer footer footer";
    grid-template-rows: 80px 1fr 70px;
    grid-template-columns: 25% 1fr 25%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    height: 100vh;
    margin: 0;
    overflow-y: hidden;
    background-color: gray;
  }
  #meni {
    grid-area: header;
  }
  #sredina {
    grid-area: article;
  }
  #mainNav {
    grid-area: nav;
    float: left;
  }
  .main-nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    list-style: none;
  }
  .main-nav ul li {
    float: right;
    padding: 10px;
  }
  .main-nav ul li a {
    padding: 20px;
    color: white;
    text-decoration: none;
  }
  .main-nav ul li a:hover {
    background-color: #111;
  }
#sredina form {
    margin-top: 20%;
    margin-bottom: 0;
    margin-left: 35%;
    margin-right: 25%;
  }
  #sredina form .naziv {
    padding-right: 20px;
    margin: 0;
    float: left;
  }
  #sredina form .tip {
    padding-right: 130px;
    margin: 0;
    float: left;
  }
  #sredina form .vpoc {
      padding-right: 15px;
    margin: 0;
    float: left;
  }
  #sredina form .vkraj {
    padding-right: 40px;
    margin: 0;
    float: left;
  }
  #sredina form .dani {
    padding-right: 27px;
    margin: 0;
    float: left;
  }
  
  #sredina form .zakazi {
    padding-right: 40px;
    margin: 0;
    float: left;
  }
  #sredina form div {
    padding-top: 20px;
  }
  .btn{
      padding: 12px 28px;
      border: black;
  }
  .footer {
 
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0.7;
    background-color:black;
    font-size: 20px;
  color:white;
  text-align: center;
  }
  
  
