html {
  box-sizing: border-box;
}
body{
    display: grid;
    grid-template-areas: "header header header" "nav article ads" "footer footer footer";
    grid-template-rows: 100px 1fr  50px;
    height: 100vh;
    width: 100%;
    margin: 0;
    overflow-y: hidden;
    overflow: hidden;
}
.wrapper {
  display: grid;
  grid-template-columns: 25% 25% 50%;
  grid-area: article;
}
.left-side ul {
  margin: 0;
  list-style: none;
}

.midlle ul {
  padding: 10px;
  margin: 0;
  list-style: none;
}

.midlle ul li {
  font-size: 15px;
  font-family:Arial, sans-serif;
} 

.left-side ul li {
  font-size: 15px;
  font-family:Arial, sans-serif;
}
#mainNav {
    grid-area: nav;
    float: right;
  }
.main-nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    list-style: none;
  }

.main-nav ul li a {
    float: right;
    padding: 20px;
    color: white;
    text-decoration: none;
  }
.main-nav ul li img{
    float: left;
}
.main-nav ul li a:hover {
    background-color: #111;
  }
#meni {
    grid-area: header;
  }

#predmeti a{ 
    color: black;
    text-decoration: bold;
    
}
#predmeti ul li{
   list-style-type: none; 
   margin-bottom: 1em;
   margin-top: 1em;
}
#sedmice ul li{
    list-style-type: none; 
    margin-bottom: 1em;
    margin-top: 1em;
 }
#predmeti a:hover{
color: blue;
}
#predmeti{
  float: left;
}
.logo{
  width: 100%;
}

.tg  {
    border-collapse:collapse;
    border-spacing:0;
    text-align: center;
    width: 100%;
}
.tg td{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 40px;
    word-break:normal;
}
.tg th{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}
.footer {
 
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0.7;
    background-color:black;
    font-size: 20px;
  color:white;
  text-align: center;
  }
  @media screen and (max-width: 600px) {
    .logo {
      width: 100%;
    }
    .main-nav{
      width: 100%;
    }
    #predmeti{
      float: left;
      width: 50%;
    }
    #sedmice{
      float: right;
    }
    #studenti{
      width: 100%;
    }
    .footer{
      width: 100%;
    }
  }