html {
  box-sizing: border-box;
}
body{
  display: grid;
  grid-template-areas: "header header header" "nav article ads" "footer footer footer";
  grid-template-rows: 150px 1fr 1fr 1fr 100px;
  grid-gap: 20px;
  margin: auto;
  overflow: hidden;
  max-width: 100%;
}

.tg  {
    grid-area: article;
    border-collapse:collapse;
    border-spacing:0;
    margin: auto !important;
}
.tg td{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:20px 7px;
    word-break:normal;
}
.tg th{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:20px 7px;
    word-break:normal;
}

.tg .plave {
    background-color:#d6eef5;
    border-color:black;
    text-align:center;
    vertical-align:top;
}

.tg .dani{ 
    border-style: none;
    text-align: right;

}
.tg .isprekidana{
    border-right-width: 2px;
    border-right-style: dashed;
}
.tg .isprekidana1{
    border:2px dashed;
}
.tg .celija{
    background-color:#efefef;
    border-color:black;
    text-align:left;
    vertical-align:top;
}
.tg .vrijeme{
    padding: 1px;
    text-align: right;
    border-style: none;
}
#mainNav {
    grid-area: nav;
    float: left;
  }
.main-nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    list-style: none;
  }
.main-nav ul li {
    float: right;
    padding: 10px;
  }
.main-nav ul li a {
    padding: 20px;
    color: white;
    text-decoration: none;
  }
.main-nav ul li a:hover {
    background-color: #111;
  }
#meni {
    grid-area: header;
  }
  .footer {
 
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0.8;
    background-color:black;
    font-size: 20px;
  color:white;
  text-align: center;
  }
