body{
  display: grid;
  grid-template-areas: "header header header" "nav article ads" "footer footer footer";
  grid-template-rows: 80px 1fr 70px;
  grid-template-columns: 25% 1fr 25%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
  overflow-y: hidden;
  background-color: gray;
}
table{
   grid-area: article;
    border-collapse: collapse;
    border: 1px;
    width: 50%;
    text-align: center;
    border-style:solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;

}
table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    height: 30px;
}
.red:hover{
    border: 2px solid black;
    
}
#mainNav {
    grid-area: nav;
    float: left;
  }
  .main-nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    list-style: none;
  }
  .main-nav ul li {
    float: right;
    padding: 10px;
  }
  .main-nav ul li a {
    padding: 20px;
    color: white;
    text-decoration: none;
  }
  .main-nav ul li a:hover {
    background-color: #111;
  }
  #meni {
    grid-area: header;
  }
  .footer {
 
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0.8;
    background-color:black;
    font-size: 20px;
  color:white;
  text-align: center;
  }